<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
 <Appenders>
   <Console name="Console" target="SYSTEM_OUT">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
   </Console>
   <File name="File1" fileName="target/app.log" bufferedIO="false"></File>
 </Appenders>
 <Loggers>
   <Root level="trace" additivity="true">
     <AppenderRef ref="Console"/>
     <AppenderRef ref="File1" level="warn"/>
   </Root>
 </Loggers>
</Configuration>
